.results {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    width: 100%;
}

.results-icon {
    width: 4rem;
    height: 4rem;
}

.results-badge {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-outer {
    display: flex;
    height: 7rem;
    width: 7rem;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: rgba(2, 44, 34, 0.4);
}

.circle-inner {
    display: flex;
    height: 5.5rem;
    width: 5.5rem;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: rgba(2, 44, 34, 0.6);
}

.results-title {
    font-size: 30px;
    color: #ffffff;
    font-weight: bold;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.results-stats {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    width: 100%;
}

.result-box {
    border: 1px solid #404040;
    border-radius: 6px;
    padding: 0.75rem;
    height: 4.3rem;
}

.stat-label {
    font-size: 14px;
}

.stat-value{
    font-weight: bold;
}

.wpm {
    color: #ffffff;
}

.value-green {
    color: #05df72;
}

.value-red {
    color: #ff6467;
}

.go-again-btn {
    background-color: #ffffff;
    color: #262626;
    border-radius: 6px;
    margin-top: 2rem;
    padding-block: 0.75rem;
    padding-inline: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.go-again-btn-icon {
    display: inline-block;
    margin-left: 0.5rem;
}

.results-confetti {
    position: fixed;
    bottom: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: start;
}

.confetti-image {
    width: 100%;
    animation: ping 2s cubic-bezier(0, 0, 0.2, 1) infinite;
}

.star-right {
    height: 39px;
    pointer-events: none;
    position: fixed;
    bottom: 40px;
    right: 29px;
}

.star-left {
    height: 21px;
    pointer-events: none;
    position: fixed;
    left: 18px;
    top: 125px;
}